!urxvt fonts:

! AADB0F -> AADB0F

urxvt*letterSpace: 0
!enabling clickable links
URxvt.perl-ext-common: default,matcher,tabbedex,vtwheel,clipboard
!tabbed
URxvt.matcher.button:   1
URxvt.perl-ext:      default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
    URxvt.url-select.launcher:   /usr/bin/icecat -new-tab
URxvt.url-select.underline: true

!disable the fucking bell
URxvt.insecure: false

URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

!urxvt scrolling options and cursor style:


URxvt*saveLines: 300000
!URxvt.scrollBar_right: false
*scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: true
URxvt*cursorColor: #f33e45
URxvt.tabbedex.autohide: yes
URxvt.tabbedex.tabbar-fg: 2
URxvt.tabbedex.tabbar-bg: 0
URxvt.tabbedex.tab-fg:    10
URxvt.tabbedex.tab-bg:    0
URxvt.tabbedex.title: yes
URxvt.tabbedex.new-button:  no


urxvt*allow_bold: false

! FUll screen
URxvt.keysym.F11: perl:fullscreen:switch


URxvt*colorIT: #666666
URxvt*colorUL: #FFFFFF
URxvt*colorBD: #dedede

!black  0=htop colors dedede
 *color0:  #2d2d2d
 *color8: #dedede
!red
 *color1:  #dedede
 *color9:  #dedede
!green
 *color2:  #d64937
 *color10: #dedede
!yellow
 *color3:  #dedede
 *color11: #dedede
!blue   ranger folders
 *color4:  #d64937
 *color12: #d64937
!magenta
 *color5:  #dedede
 *color13: #dedede
!cyan
 *color6:  #dedede
 *color14: #dedede
!white
 *color7:  #dedede
 *color15: #dedede



URxvt*foreground: #D3D3D3
!URxvt*background: #000000
URxvt*background: #323232


!red
URxvt*color1: #f33e45
URxvt*color9: #f33e45
!green
URxvt*color2: #f33e45
URxvt*color10: #f33e45
!yellow

!blue
URxvt*color4: #7193ae
URxvt*color12: #7193ae
!magenta
URxvt*color5: #f33e45
URxvt*color13: #f33e45
!cyan
URxvt*color6: #7193ae
URxvt*color14: #7193ae
!white
URxvt*color7: #D3D3D3
URxvt*color15: #D3D3D3

